#main_iframe{
    position:fixed;
    height:100%;
    width:100%;
}
/*
#main_message_bar{
    position: fixed;
    bottom: 0; 
    left:0; 
    width: 100%; 
    height: 20%; 
    border-radius: 10px;
    border:3px solid red;
    padding:2px;
}

#profile_id{
    width:7%; 
    height: 100%; 
    border-radius: 10px; 
    display:inline-block;
    float:left;
}

#profile_img{
    border-radius: 5px;
    padding:0px;
    height: 100%;
    width: 100%; 
}

#message{
    border:2px solid green;  
    height: 100%;
    border-radius: 12px;
    display:inline-block;
    margin-left: 15px;
    background: white;
}

#message_top_bar{
    width:100%;
    height: 25%;
    border: 2px dotted black;
}

#close_button{
    float:right;
    margin-right: 10px;
    height: 100%;
    width: 10%;
    padding:0; 
    text-align: center;
}

#x{
    text-decoration:none;
    width:5px;
    height:5px;
}

#message_text_bar{
    border:3px dotted violet; 
    float:left;
    display: inline-block; 
    width:100%; 
    height: 50%;
}

#message_text{
    float: left;
    display: inline-block;
}

#cta{
    display: inline-block;
    margin-left: 15px; 
    border:3px dotted black;
}

#cta_button{
    display: block;
    width: 100%;
    height: 100%;
    background: #4E9CAF;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}*/








#cta_content{
    position: fixed;
    left: 10px;
    bottom: 10px;
    background-color: yellow;
    border-radius: 5px;
    padding:5px;
}

#dp{
    display: inline-block;
    padding: 15px;
}

#dp_img{
    width: 50px;
    height: 50px;
}

#inner_content{
    display: inline-block;
}

#header{
    margin-top:0;
}

#username{
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
}

#close{
    display: inline-block;
    text-decoration: none;
    float:right;
    margin-right: 10px;
}

#main{
    padding-top:0;
}

#msg{
    display: inline-block;
}

#cta_btn{
    display: inline-block;
    background: #4E9CAF;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    text-decoration: none;
}