#main_iframe{
    position:fixed;
    height:100%;
    width:100%;
}

#cta_content{
    position: fixed;
    left: 10px;
    bottom: 10px;
    background-color: yellow;
    border-radius: 5px;
    padding:5px;
}

#dp{
    display: inline-block;
    padding: 15px;
}

#dp_img{
    width: 50px;
    height: 50px;
}

#inner_content{
    display: inline-block;
}

#header{
    margin-top:0;
}

#username{
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
}

#close{
    display: inline-block;
    text-decoration: none;
    float:right;
    margin-right: 10px;
}

#main{
    padding-top:0;
}

#msg{
    display: inline-block;
}

#cta_btn{
    display: inline-block;
    background: #4E9CAF;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    text-decoration: none;
}
    
    #body {
        margin-top: 75px;
    }

    a.none{
        text-decoration: none;
    }


    footer {
        margin: 10px 0;
    }

    #comments, #comments li {
        margin: 0;
        padding: 0;
    }

    #comments li {
        list-style: none;
    }
            
    .photo {
        margin-bottom: 10px;
    }

    .social-buttons button {
        margin-top: 5px;
    }
