<!DOCTYPE html>
<html>
<head>
    <title>{{url}}</title>
    <link href="{{url_for('static', filename='css/dev/style.css')}}" rel="stylesheet">
</head>
<body>
    

    
    <iframe id="main_iframe" src={{url}} frameborder="0"></iframe>
        <div id="cta_content">
            <div id="dp">
                <img id="dp_img" src="http://placehold.it/200" alt="">
            </div>
            <div id="inner_content">
                <div id="header">
                    <p id="username">Daman</p>
                    <a href="#" onclick="RemoveDiv()" id="close">x</a>
                </div>
                <div id="main">
                    <h3 id="msg">{{ message }}</h3>
                    <a href="#" id="cta_btn">Action</a>
                </div>
            </div>
        </div>
            
    <script type="text/javascript">
        function RemoveDiv(){
            document.getElementById("cta_content").remove();
        }
    </script>
</body>

</html>